h1{
    color:rgb(162, 188, 204);
    text-align: left;
    font: 40px Georgia;
}
h2{
    color:rgb(162, 188, 204);
    text-align: left;
    font: 20px Georgia;
}
.sisu{
    color: rgb(230, 236, 237);
    font: 18px Garamond;
    text-align: left;
}
img{
    height: 400px;  
    width: auto;  
    border: 7px solid rgb(12, 63, 10);
    float: right;
}
table,th,td{
    background-color: #3e5f80;
    border-collapse: collapse;
    border: 3px solid cadetblue;
}
table, th{
    color:rgb(162, 188, 204);
    font: 20px Arial bold;
}
body {
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
